<div class="col-xs-12">
  <div class="container">
    <h3 *ngIf="errorMsg">{{ errorMsg }}</h3>
    <div *ngIf="person">
      <h3>You selected {{ person.id }}</h3>
      <img
        [src]="person.image"
        alt="{{ person.name }}"
        class="img-responsive"
        style="max-height: 300px;"
      />
      <h4>Name: <strong> {{ person.name }}</strong></h4>
      <h4>CUI: <strong> {{ person.cui }}</strong></h4>
      <h4>Balance: <strong> {{ person.balance }}</strong></h4>
    </div>

    <div class="row">
      <div class="col-xs-1" *ngIf="person">
        <button class="btn btn-success" (click)="editAction(person)">Edit</button>
      </div>
      <div class="col-xs-3" *ngIf="person">
        <button class="btn btn-danger" (click)="deleteAction(person)">Delete</button>
      </div>
      <div class="col-xs-1">
        <button class="btn btn-success" (click)="goPrevious()">Previous</button>
      </div>
      <div class="col-xs-1">
        <button class="btn btn-warning" (click)="goNext()">Next</button>
      </div>
    </div>
    <div class="container">
      <hr />
      <button class="btn btn-danger" (click)="gotoList()">Back</button>
    </div>
  </div>
</div>
